@{
    ViewData["Title"] = "Clientes";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Descripción</title>
    <style>
        /* Estilos para el botón de envío */
        .btn {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
            transition: background-color 0.3s;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container-img">
        <img class="imagen" src="~/images/img1.png" />
    </div>
    <div class="form-container position-card">
        <form asp-action="ProcesarClienteDescripcion" method="post">
            <h2>Por favor suministranos información sobre tu viaje?</h2>
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea name="descripcion" id="descripcion" rows="4" required class="form-control"></textarea>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</body>
</html>
