@{
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container-img">
        <div class="banner">
            <h1>SIPA</h1>
            <button id="boton-interactivo">Siguiente</button>
        </div>

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var botonInteractivo = document.getElementById('boton-interactivo');
            var titulo = document.querySelector('h1');

            botonInteractivo.addEventListener('click', function () {
                titulo.textContent = '¡A través de una breve descripción podremos ubicar el destino que más se acomoda a tus preferencias!';
            });
        });
    </script>

    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
</body>
</html>





